.nav {
    background-color: #FFF;
    width: 250px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 60px;
    transition: 350ms;
    z-index: 10;
}

.nav-link {
    line-height: 30px;
    background-color: #FFF !important;
    margin-bottom: 5px;
    color: #2B7D83 !important;
    font-weight: 700 !important;
}

.nav-link:hover {
    color: #094247;
}